@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9; /* Stone-50 */
  --foreground: #18181b; /* Zinc-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
}